*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* HEADER NAVBAR */
nav{
    background-color: #C7A488;
}

.nav-item .nav-link{
    color: #fff;
    padding: 10px 16px;
}

.nav-text:hover{
    color: #666666;
}

.nav-text::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: #666666;
    transition: 0.3s;
}

.nav-text:hover::after {
    width: 100%;
}

.navbar-nav .nav-item .logout{
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    color: #C7A488;
}

.navbar-nav .nav-item .logout:hover{
    background-color: #C7A488;
    color: #fff;
    border: 1px solid #fff;
}

/* SEARCH SECTION */
.search-section{
    background-color: #E9D0BA;
    padding: 50px 0;
    height: 300px;
}

/* LIST CLASS SECTION */
.filter-side .filter{
    background-color: #FDF5E8;
    padding: 20px;
    border-radius: 8px;
}

.filter .btn-filter{
    background-color: #005387;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    width: 100%;
}

.filter .btn-filter:hover{
    background-color: #fff;
    color: #005387;
    border: 1px solid #005387;
}

.card .card-text{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.card .text-end{
    font-size: 12px;
}

.card .card-image{
    height: 150px;
}

.card .btn-card{
    background-color: #005387;
    color: #fff;
    border: none;
}

.card .btn-card:hover{
    background-color: #fff;
    color: #005387;
    border: 1px solid #005387;
}

/* FOOTER */
.footer{
    background-color: #C7A488;
    color: #fff;
}

@media screen and (max-width: 768px){
    .navbar-nav .nav-item .logout{
        display: inline;
    }

    .search-section{
        height: 250px;
    }

    .filter-item .form-check{
        display: inline-block;
    }
}